// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E1771A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$verrt-clair: #f3f5f1;
$vert-fonce: #6EA0A1;
