@media (min-width: 768px) {
  .header-section {
    text-align: left;

    h1 {
      font-size: 3.5rem;
      margin: 40px;
      margin-bottom: 35px;
      padding-left: 310px;
      padding-right: 350px;
    }
  }
}
.header-section-activity {
  text-align: left;
  margin-bottom: 20px;

  h1 {
    font-size: 3.5rem;
    margin: 40px;
    margin-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fixed-image-container {
  position: fixed;
  top: 67vh; /* Ajustez cette valeur pour positionner l'image sous la carte */
  right: 0;
  width: 27%;
  z-index: -1; /* Assurez-vous que l'image est derrière la carte */
}

.fixed-image {
  width: 80%;
  height: auto;
}
.img-logo-index {
  width: 40%;
  height: auto;
  margin-top: 20px;
}

.container-index-activity {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-section {
  display: flex;
  padding-right: 40%;
}

.cards-activities-container {
  display: grid;
  flex: 1 0 60%;
  height: 90vh;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  .card-activity-link {
    text-decoration: none;
    color: inherit;
  }

  .card-activity {
    background: #fff;
    border-radius: 8px;
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;

    .name-activity {
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
      font-size: 2rem;
      color: white;
      z-index: 1;
      padding: 5px 10px;
      border-radius: 5px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(200, 101, 44, 0.7);
      color: white;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: .5s ease;
      opacity: 0.9;
    }

    .description-activity {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 1.6rem;
      padding: 10px;
      font-family:'Times New Roman', Times, serif;
    }

    .btn-view-map {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #ff6347; /* Couleur personnalisée du bouton */
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      z-index: 2;
      transition: background-color 0.3s;
      cursor: pointer;
      pointer-events: auto;

      &:hover {
        background-color: #ff4500; /* Couleur au survol du bouton */
      }
    }

    &:hover {
      opacity: 0.9;
      transform: scale(1.05);

      .overlay {
        height: 100%;
      }
    }

    .card-activity-image {
      height: 200px;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    // .card-activity:hover .name-activity,
    // .card-activity:hover .description-activity {
    //   opacity: 1; /* Add this line to show the text on hover */
    // }
    // .card-activity-content {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 10px;
    // }

    // .card-activity-title {
    //   font-size: 1.5rem;
    //   color: #666;
    // }

    // .card-activity-description {
    //   font-size: 1rem;
    //   color: #666;
    // }

  }
  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.icon-container-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 355px; /* Ajuste la position pour être en dessous de la barre de recherche */
  right: 10px;
  transform: translateY(-50%); /* Centre verticalement */
  z-index: 3;
}
.icon-square-activity {
  width: 50px; /* Taille des carrés */
  height: 50px;
  background-color: rgba(225, 119, 26, 0.5); /* Utilise la même couleur semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.396); /* Ombre similaire à celle de la barre de recherche */
  margin: 40px; /* Espace entre les carrés */
}


.filter-container-activity {
  display: flex;
  flex-direction: row; /* Affiche les éléments en ligne horizontale */
  align-items: center; /* Aligne les éléments au centre verticalement */
  position: fixed; /* Fixe le conteneur en haut à droite */
  top: 10px; /* Distance du haut de la fenêtre */
  right: 10px; /* Positionne le conteneur à droite */
  background-color: #fff; /* Fond blanc pour le conteneur */
  border: 1px solid #ddd; /* Bordure légère autour du conteneur */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour le conteneur */
  z-index: 1000; /* Assure que le conteneur est au-dessus des autres éléments */
  padding: 10px; /* Espacement intérieur du conteneur */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Transition douce pour l'affichage/masquage */
}

.hidden {
  display: none;
}

/* Style du formulaire de filtres */
.filter-form-categories {
  padding: 20px; /* Espacement intérieur du conteneur */
}

/* Style pour le groupe de champs du formulaire */
.form-group-categories {
  margin-bottom: 20px; /* Espacement entre les éléments du formulaire */
}

/* Style pour les éléments de la checklist */
.filter-form-categories .checkbox {
  margin-bottom: 3px; /* Espacement entre les éléments de la checklist */
  display: flex;
  align-items: center;
}

/* Style pour le label de la checklist */
.filter-form-categories .checkbox label {
  margin-left: 10px; /* Espacement entre la case à cocher et le label */
  font-size: 1em;
  color: #333;
}

/* Style pour le bouton de soumission du formulaire */
.custom-btn {
  background-color: #007bff; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime la bordure du bouton */
  padding: 10px 15px; /* Espacement intérieur du bouton */
  font-size: 1em; /* Taille de la police du bouton */
  cursor: pointer; /* Curseur de la souris en forme de main */
  border-radius: 4px; /* Coins arrondis du bouton */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  display: inline-block; /* Assure que le bouton se comporte comme un bloc en ligne */
}

.custom-btn:hover {
  background-color: #0056b3; /* Couleur de fond du bouton au survol */
}

// .category-menu {
//   ul {
//     list-style: none;
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     margin-bottom: 20px;

//     li {
//       margin: 0 10px;

//       a {
//         text-decoration: none;
//         color: #007BFF;
//         font-size: 1.1rem;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
// }





// .activity-card {

//   background: #fff;
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   width: 90%;
//   height: 300px;
//   transition: transform 0.3s;

//   &:hover {
//     transform: scale(1.05);
//   }

  // .carousel {
  //   height: 100%;
  //   .carousel-inner {
  //     height: 100%;
  //     .carousel-item {
  //       height: 100%;
  //       img {
  //         width: 100%;
  //         height: 100%;
  //         object-fit: cover;
  //         // border-bottom: 1px solid #ddd;
  //       }
  //     }
  //   }

  //   .carousel-control-prev, .carousel-control-next {
  //     filter: invert(100%);
  //   }
// }

//   .card-text  {

//   bottom: 0; /* Positionner le texte en bas de la carte */
//   left: 0;
//   width: 100%;
//   background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
//   color: #fff; /* Couleur du texte */
//   text-align: center; /* Centrer le texte */
//   padding: 10px; /* Padding autour du texte */
//   box-sizing: border-box; /* Inclure le padding dans la largeur totale */
//   transition: transform 0.3s, background 0.3s;
//   transform: translateY(100%); /* Positionner le texte en dehors de la vue initialement */

//   .activity-card:hover .card-text {

//   transform: translateY(0); /* Remonter le texte au survol */
//   background: rgba(0, 0, 0, 0.7); /* Assombrir le fond lors du survol */
//   }
// }




// .new-icon-container {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 20px;
//   gap: 8px;
// }

// .new-icon-square {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 60px;
//   height: 60px;
//   background-color: #f8f9fa;
//   border-radius: 8px;
//   transition: background-color 0.3s;

//   a {
//     color: #007BFF;
//     font-size: 1.5rem;
//     text-decoration: none;

//     &:hover {
//       color: #0056b3;
//     }
//   }

//   &:hover {
//     background-color: #e2e6ea;
//   }
// }

// .new-icon {
//   font-size: 2rem;
// }
