// .logo-index-activity{



// }
.container-index-activity {
  background-color: #f3f5f1;
}
.cards-activities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
}

.card-activity {
  position: relative; /* Permet de positionner le texte au-dessus de l'image */
  // background-color: #f3f5f1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgb(32, 112, 64));
  border: 1px solid #6EA0A1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 450px;
  height: 400px; /* Hauteur fixe pour toutes les cartes */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la hauteur totale */
  overflow: hidden;
  overflow-y: auto; /* Permet le défilement vertical si le contenu dépasse */
  transition: background-color 0.3s ease-in-out;
}

// .card-activity::before {
//   content: ""; /* Nécessaire pour créer le pseudo-élément */
//   position: absolute; /* Positionné au-dessus de la carte */
//   top: 50%; /* Commence à partir du milieu de la carte */
//   left: 0; /* À gauche de la carte */
//   width: 100%; /* Largeur complète de la carte */
//   height: 50%; /* Hauteur du dégradé */
//   // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(21, 43, 14, 0.7)); /* Dégradé sombre */
//   transition: opacity 0.3s ease-in-out; /* Transition fluide pour l'opacité */
//   z-index: 1; /* Positionne le pseudo-élément au-dessus de l'image */
//   pointer-events: none; /* Assure que le pseudo-élément ne bloque pas les clics */
// }

// .card-activity:hover::before {
//   opacity: 1; /* Assure que le dégradé est visible au survol */
// }

.card-activity:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-activity img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assure que l'image couvre le conteneur sans distorsion */
  transition: opacity 0.5s ease;
}

.card-activity:hover img {
  opacity: 0.7; /* Assombrit l'image au survol */
}

.card-activity h3 {
  position: relative; /* Permet de positionner le titre au-dessus de l'image */
  bottom: 2px; /* Positionné en bas de la carte par défaut */
  left: 50%;
  transform: translateX(-50%); /* Centre horizontalement */
  font-size: 1.5em;
  margin: 0;
  transition: transform 0.3s ease, color 0.8s ease;
  z-index: 2;
  color: white;
}

.card-activity:hover h3 {
  bottom: 50%; /* Déplace le titre vers le centre verticalement */
  transform: translate(-50%, 50%); /* Centre horizontalement et déplace verticalement */
  color: #000000; /* Changer la couleur du titre au survol (optionnel) */
}

.card-activity p {
  color: #555;
  font-size: 1em;
  margin: 0;
}

.card-activity a {
  color: inherit;
  text-decoration: none;
}

.card-activity a:hover {
  text-decoration: underline;
}
