<div class="container-index-bookings">
  <div class="header-section-bookings">
    <h1>Mon Roadbook</h1>
    <p>Vue d'ensemble de toutes vos activités réservées</p>
  </div>

  <div class="calendar-frame center">
    <% start_day = @start_date.beginning_of_month.wday %>
    <% end_day = @start_date.end_of_month.day %>

    <% (1..end_day).each do |day| %>
      <% date = Date.new(@start_date.year, @start_date.month, day) %>
      <% bookings_on_day = @bookings.select { |b| b.start_date <= date && b.end_date >= date } %>
      <% activity_picture = bookings_on_day.first&.activity&.pictures&.first&.key %>
      <div class="day-frame center real" style="background-image: url(<%= activity_picture ? cl_image_path(activity_picture) : '' %>); background-color: <%= activity_picture ? 'transparent' : '#f0f0f0' %>;">
        <h2 class="day-number"><%= day %></h2>
        <div class="day-label center">
          <% bookings_on_day.each do |booking| %>
            <%= booking.activity.name %><br>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
