<footer class="footer">
  <div class="footer-container">
    <%# <p>
      <span>&copy; 2024 Terra Trek</span><br>
      <span class="footer-text">Made with <i class="fa-solid fa-heart"></i> by Angelica, Aurélien, Petya and Guillaume</span>
    </p> %>
  </div>
</footer>
