<footer class="footer">
  <div class="footer-container">
   <p>
      <span>&copy; 2024 Terra Trek</span><br>
      <span class="footer-text">Fait avec <i class="fa-solid fa-heart"></i> par Angelica, Aurélien, Petya & Guillaume</span>
    </p>
  </div>
</footer>
