<div class="container-home">
  <div class="banner-home">
    <div class="text-overlay">
      <h1>Terra Trek</h1>
      <h2>Explorez. Connectez. Vivez pleinement.</h2>
      <div class="search-container">
        <form action="/search" method="get">
          <input type="text" placeholder="Ta prochaine destination ici..." name="query" class="search-input">
          <button type="submit" class="search-button">Découvrir</button>
        </form>
      </div>
    </div>
  </div>

  <div class="cards-container">
      <div class="flip-card">
        <div class="flip-card-inner">
          <%= image_tag 'aventure.jpg', class: 'flip-card-front'%>
          <div class="flip-card-back">
            <p>Découvrez votre prochaine aventure</p>
            <!-- <a href="#" class="btn">Button</a> -->
          </div>
        </div>
      </div>


      <div class="flip-card">
        <div class="flip-card-inner">
          <%= image_tag 'detente.jpg', class: 'flip-card-front' %>
          <div class="flip-card-back">
            <p>Réservez votre jour parfait</p>
            <!-- <a href="#" class="btn">Button</a> -->
          </div>
        </div>
      </div>



      <div class="flip-card">
        <div class="flip-card-inner">
          <%= image_tag 'famille.jpg', class: 'flip-card-front' %>
          <div class="flip-card-back">
            <p>Toujours en familles</p>
            <!-- <a href="#" class="btn">Button</a> -->
          </div>
        </div>
      </div>
  </div>

  <div class="centered-btn">
    <%= link_to 'Abonne toi et rejoins le club des cool!', '#', class: 'btn' %>
  </div>

</div>
