* {
  margin: 0;
  padding: 0;
  transition: 0.05s ease-in;
  --dim1: 8vw;
  --dim2: 0.2vw;
}

.calendar-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--dim2);
  width: 90vw;
  margin: auto;
}

.day-frame {
  margin: var(--dim2);
  height: var(--dim1);
  width: var(--dim1);
  background-color: #f0f0f0;
  position: relative;
}

.day-number {
  font-family: Roboto, sans-serif;
  font-size: 2vw;
  text-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
}

.day-label {
  width: var(--dim1);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.5vw;
  font-family: Heebo, sans-serif;
  text-align: center;
}

.real:hover > .day-label {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.real {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.real:hover {
  transform: scale(1.05, 1.05);
}

.real:hover > .day-number {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 10vw rgba(0, 0, 0, 0);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
