/* app/assets/stylesheets/application.scss ou le fichier CSS où vous définissez vos styles */
.footer {
  background-color: #ffffff; /* Couleur de fond claire (remplaçant bg-light) */
  padding: 10px 0; /* Espacement vertical autour du footer (remplaçant py-3) */
  text-align: center; /* Centre le texte (remplaçant text-center) */
  // position: relative; /* Position relative pour permettre des ajustements si nécessaire */
  width: 100%; /* Assure que le footer prend toute la largeur */

}

.footer-container {
  max-width: 1200px; /* Optionnel: définit une largeur maximale pour le contenu */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  margin-top: 25px;
  padding:  25px 25px; /* Ajoute du padding horizontal */
}

.footer-text {
  font-size: 80%; /* Taille du texte réduite pour le texte secondaire (remplaçant smaller-text) */
  color: #6c757d; /* Couleur du texte secondaire */
}

// .fa-heart {
//   color: red; /* Couleur rouge pour l'icône de cœur */
// }
