.navbar-terra {
  justify-content: space-between;
  background: #e1771a;
  padding: 1rem;
  border-radius: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.5);
}


.navbar-terra .navbar-collapse {
  flex-grow: 0;

}

.navbar-terra .navbar-brand img {
  width: 45px;
}
